<div class="container">
  <div class="form-container">
    <div class="back-ward">
      <a href="/"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>
    <form action="/records/{{records._id}}" method="POST">
      <div class="form-group">
        <label for="name">名稱</label>
        <input type="text" class="form-control" id="name" name="name" value="{{records.name}}" required>
      </div>
      <div class="form-group">
        <label for="date">日期</label>
        <input type="date" class="form-control" id="date" name="date" value="{{records.date}}" required>
      </div>
      <div class="form-group">
        <label for="Category">支出類別</label>
        <select id="Category" class="form-control" name="category" required>
          <option>{{records.category}}</option>
          {{#each categories}}
          <option>{{this.type}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="amount">金額</label>
        <input type="number" class="form-control" id="amount" name="amount" min="1" value="{{records.amount}}" required>
      </div>

      <button type="submit" class="btn btn-primary">修改</button>
    </form>
  </div>
</div>